<launch>
    <!-- Input arguments -->
    <arg name="simulated" default="false" />
    <arg name="carla" default="false" />

    <!-- Launch groups under the global namespace '/actor' -->
    <group ns="/actor">

        <!-- Load Environment related variables -->
        <group if="$(arg simulated)">
            <!-- Load the Simulation/Carla related YAML file -->
            <group if="$(arg carla)">
                <rosparam command="load" file="$(find actor_ros)/cfg/topics_carla.yaml" />
            </group>
            <group unless="$(arg carla)">
                <rosparam command="load" file="$(find actor_ros)/cfg/topics_simulator.yaml" />
            </group>
        </group>
        <group unless="$(arg simulated)">
            <!-- Load the Real vehicle related YAML file -->
            <rosparam command="load" file="$(find actor_ros)/cfg/topics_real.yaml" />
        </group>
        <!-- .................................................................................. -->

        <!-- Parameter used to determine simulation mode from other nodes -->
        <param name="is_simulated" value="$(arg simulated)" />
        <param name="is_carla" value="$(arg carla)" />

        <!-- Actor Status -->
        <node name="actor_status" pkg="actor_ros" type="actor_status.py" respawn="true" />

        <!-- Actor Control -->
        <node name="actor_control" pkg="actor_ros" type="actor_control.py" respawn="true" />

        <!-- Actor GUI -->
        <!-- <node name="actor_gui" pkg="actor_ros" type="actor_gui.py" respawn="true" /> -->


        <!-- .................................................................................. -->
    </group>

</launch>